#vid {
    background: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    right: 0;

    &.bg-0 {
        background: url(img/bg/sans0.gif) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-1 {
        background: url(img/bg/sans1.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-2{
        background: url(img/bg/sans2.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-3{
        background: url(img/bg/sans3.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-4 {
        background: url(img/bg/sans4.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-5 {
        background: url(img/bg/sans5.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-6 {
        background: url(img/bg/sans6.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-7 {
        background: url(img/bg/sans7.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-8 {
        background: url(img/bg/sans8.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-9 {
        background: url(img/bg/sans9.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-10 {
        background: url(img/bg/sans10.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-11 {
        background: url(img/bg/sans11.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-12 {
        background: url(img/bg/sans12.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &.bg-13 {
        background: url(img/bg/sans13.gif) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    



    background: url(img/bg/sans0.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#map {
    position: absolute;
    height: 200px;
    width: 400px;
    background: white;
    z-index: 10;
    bottom: 110px;
    opacity: .5;
    left: -400px;
    .transition( left, 1s );

    &.active {
        left:0;
        .transition( left, .5s );
    }
}

#form {
    position: absolute;
    font-family: "Helvetica", sans-serif;
    z-index: 1000;
    width: 100%;
    padding: 10px;

    .search-icon {
        display: inline-block;
        float: left;

        img {
            width: 38px;
        }
    }

    .search {
        background: transparent;
        color: white;
        border: none;
        font-size: 2em;
        padding-left: 10px;
        float: left;

        &:focus {
            outline: none;
        }
    }
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.scene-title {
    color: white;
    z-index: 12;
    position: absolute;
    bottom: 80px;
    left: 11px;
    font-size: 1.2em;
    opacity: 0.75;
    font-weight: lighter;
}

.transition ( @property, @time ) {
    transition: @property @time;
    -moz-transition: @property @time; /* Firefox 4 */
    -webkit-transition: @property @time; /* Safari and Chrome */
    -o-transition: @property @time; /* Opera */
}