<div id="form">
    <a href="#" class="search-icon"><img src="<%= localStorage.getItem("jsRoot") %>../img/search.png"/></a>
    <input type="text" class="search" autofocus placeholder="Search Sans Soleil"/>
</div>

<div id="map"></div>
<div id="captions"></div>

<div id="vid" class="<%= bgId %>"></div>
<div id="scenes"></div>
<div class="scene-title">
    <span class="title"></span>
    <span class="time-elapsed"></span> / <span class="time-duration"></span>
</div>
<div id="scene-timeline"></div>
